#app {
  max-width: 1400px;
  margin: 0 16px;
}

h1 {
  display: inline-block;
  background: var(--c-background);
  color: var(--c-foreground);
  padding: 8px 16px 8px 0;
  font-family: monospace;
}

h1::after {
  content: "_";
  animation: blink 2s infinite;
}

.status-bar {
  display: flex;
  gap: 16px;
}

.status-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (width >= 768px) {
  .status-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1280px) {
  .status-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
